.App {
  text-align: center;
}

.context {
  text-align: left;
}

main {
  display: grid;
  padding-top: 4rem;
  justify-content: center;
}

.game-message {
  color: aliceblue;
  font-size: 2rem;
  margin-bottom: 1rem;
}
